@font-face {
    font-family: SegoeUI;
    src: url('./assets/fonts/Segoe-UI/Segoe-UI.ttf');
}

* {
    font-family: SegoeUI;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #374045;
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #111b21;
}

::-webkit-scrollbar-thumb {
    background: #374045;
}

::-webkit-scrollbar-thumb:hover {
    background: #374045;
}